.element {
    display: flex;
    width: 500px;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    border: 2px ridge rgb(0, 0, 0);
    margin-bottom: 10px;
}
.button_group {
    display: flex;
    flex-direction: column;
    margin-right: 2px;
    align-items: stretch;
}
.edit_button  {
    display: flex;

    margin-bottom: 20px;
    
}

.task {
    width: 200px;
    height: 100px;
    border: 2px ridge rgb(0, 0, 0);
    margin-left: 5px;
}
.submit_button  {
    display: flex;

    
}
.checked_element {
    display: flex;
    width: 500px;
    height: 150px;
    background-color: rgb(170, 170, 170);
    justify-content: space-between;
    align-items: center;
    border: 2px ridge rgb(0, 0, 0);
    margin-bottom: 10px;
}