.list {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.input_task {
    margin-right: 10px;

}
.add_element {
    display: flex;
    margin-bottom: 5px;
}