.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #d1d0d0;
  font-size: 20px;
  
}

.add_todo {
  display: flex;
  border-bottom: 1px solid #d1d0d0;
}

.input_task {
  border: 1px solid #fff;
  font-size: 20px;
  width: 482px;
  height: 50px;

}
.input_task::placeholder{
  opacity: 0.3;
}

.visible_checkbox {
  margin:  0 0 0 15px;
}

.invisible_checkbox {
  margin:  0 0 0 15px;
  visibility: hidden;
}
.form {
  margin-left: 30px;
}